# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vim and Linux
*~
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

# Others
foo.db
logs
.idea/
cache.dump
cblog
gin-bin
media/
