[submodule "_ref/Blog"]
	path = _ref/Blog
	url = https://github.com/caitinggui/Blog
[submodule "_ref/go-gin-example"]
	path = _ref/go-gin-example
	url = https://github.com/EDDYCJY/go-gin-example
[submodule "_ref/wblog"]
	path = _ref/wblog
	url = https://github.com/wangsongyan/wblog.git
[submodule "_ref/gorush"]
	path = _ref/gorush
	url = https://github.com/appleboy/gorush.git
[submodule "_ref/goblog"]
	path = _ref/goblog
	url = https://github.com/fifsky/goblog
[submodule "_ref/gocms"]
	path = _ref/gocms
	url = https://github.com/noxue/gocms
