{{define "header"}}
<link rel="stylesheet" href="/static/libs/editormd/css/editormd.css"/>
<link rel="stylesheet" href="/static/libs/select2/select2.min.css">
{{end}}

{{define "content"}}
    <section class="content-header">
    <h1>
        编辑文章
    </h1>
    </section>

    <div class="content-wrapper">

        <section class="content">
            <div class="row">
                <form action="/admin/article" method="post">
                    <div class="box">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <input class="form-control input-lg" type="text" name="title" placeholder="文章标题" value="{{ .Article.Title }}">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-1">
                                    <div class="form-group">
                                        <select class="form-control" name="status">
                                            {{ if eq .Article.Status "p"}}
                                              <option value="p">发布</option>
                                              <option value="d">存稿</option>
                                            {{ else }}
                                              <option value="p">存稿</option>
                                              <option value="d">发布</option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-1">
                                    <div class="form-group">
                                        <select class="form-control" name="topped">
                                            {{ if eq .Article.Topped 1}}
                                              <option value="1">置顶</option>
                                              <option value="-1">不置顶</option>
                                            {{ else }}
                                              <option value="-1">不置顶</option>
                                              <option value="1">置顶</option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" name="abstract" maxlength="54" placeholder="摘要" value="{{ .Article.Abstract }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>cate</label>
                                        <select class="form-control select2" data-placeholder="分类" style="width: 100%;" name="category_id">
                                            {{ range .Cates }}
                                                <option value="{{ .ID }}">{{ .Name }}</option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>点赞数</label>
                                        <input class="form-control" type="text" value="{{ .Article.Likes }}" name="likes">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>浏览数</label>
                                        <input class="form-control" type="text" value="{{ .Article.Views }}" name="views">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>tag</label>
                                        <select class="form-control select2" multiple="multiple" data-placeholder="标签" style="width: 100%;" name="tags_id">
                                            {{ range .Tags }}
                                                <option value="{{ .ID }}">{{ .Name }}</option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="layout">
                            <div id="editormd" name="body"></div>
                        </div>
                    </div>
                    <div class="box-footer" style="background-color: #ecf0f5">
                        <button type="submit" class="btn btn-primary pull-right btn-lg" onclick="setConfirm();">保存</button>
                    </div>
                    <input style="display: none" type="text" name="id" value="{{ .Article.ID | ToStr }}">
                </form>
            </div>
        </section>
    </div>
{{end}}

{{define "footer"}}
<script src="/static/libs/select2/select2.full.min.js"></script>
<script src="/static/libs/editormd/editormd.js"></script>
<script type="text/javascript">
  var Editor;
  $(function () {
          Editor = editormd("editormd", {
              width: "100%",
              height: 740,
    <!--根据浏览器调试信息和nginx error.log来更改路径-->
              path: '/static/libs/editormd/lib/',
              markdown: {{ .Article.Body }},
              codeFold: true,
              saveHTMLToTextarea: true,
              searchReplace: true,
              htmlDecode: "style,script,iframe|on*",
              emoji: true,
              taskList: true,
              tocm: true,
              tex: true,
              flowChart: true,
              sequenceDiagram: true,
              imageUpload: true,
              imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
              imageUploadURL: "/admin/upload/"
      });
      $(".select2").select2();
  });
  $(function () {
      $("select[name='category_id']").val("{{ .Article.Category.ID }}").change();
      $("select[name='tags_id']").val({{ .ExistTags }}).change()
  })

  function setConfirm() {
    is_confirm = true;
  }

  window.onbeforeunload = function(){
    if(window.is_confirm !== true)
     return "文章尚未保存";
  }
</script>
{{end}}
