{{define "header"}}
<link rel="stylesheet" href="/static/libs/AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{{end}}

{{define "content"}}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      标签
      <!--<small>Optional description</small>-->
    </h1>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="TagList" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
														<th>创建时间</th>
														<th>修改时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                          {{range .Tags}}
                          <tr id="TagID{{.ID}}">
                            <td>{{.ID}}</td>
                            <td>
                              <span id="TagDataName{{.ID}}">{{.Name}}</span>
                              <input id="TagName{{.ID}}" style="display: none;width: 100%" value={{.Name}}></input>
                            </td>
                            <td>{{.CreatedAt | ToStr }}</td>
                            <td>{{.UpdatedAt | ToStr }}</td>
                            <td>
                              <div id="ModifyDelete{{.ID}}">
                                <button onclick="ModifyTag({{.ID | ToStr}})" id="TagData" type="button" class="btn btn-info" style="font-size: 12px">修改</button>
                                <button onclick="DeleteTag(String({{.ID | ToStr}}))" id="TagData" type="button" class="btn btn-danger" style="font-size: 12px">删除</button>
                              </div>
                              <div id="SaveCancel{{.ID}}" style="display: none">
                                <button onclick="SaveTag({{.ID | ToStr}})" id="ModifyTag{{.ID}}" type="button" class="btn btn-primary" style="font-size: 12px">保存</button>
                                <button onclick="CancelTag(String({{.ID | ToStr}}))" id="DeleteTag{{.ID}}" type="button" class="btn btn-success" style="font-size: 12px">取消</button>
                              </div>
                            </td>
                          </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-xs-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h4 class="box-title">添加标签</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <textarea id="TagName" class="form-control" rows="1" placeholder="标签名" name="name"></textarea>
                    </div>
                    <button onclick="CreateTag()" class="btn btn-primary" type="button">添加</button>
                </div>
            </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
  </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- /.content -->
{{end}}

{{define "footer"}}
<!--jquery.dataTables要在前面-->
<script src='/static/libs/AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js'></script>
<script src='/static/libs/AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js'></script>
<script>
  $(function () {
    $("#TagList").DataTable({
      'ordering': false,
      'bStateSave': true, //记录所在页数
      'aLengthMenu': [[80, -1], [80, "All"]], //定义每页显示数据数量
    });
})
function DeleteTag(ID) {
  var really = confirm('确定删除吗？');
  if (really == false) {
    return
  }
  $.ajax({
      type: "DELETE",
      url: window.location.href + "/" + ID,
      success: function (data) {
          $('#TagID' + ID).remove();
      }
  });
}
function ModifyTag(ID) {
  $('#ModifyDelete' + ID).css(
      "display", "none"
  );
  $('#SaveCancel' + ID).css(
      "display", "block"
  );

  $('#TagDataName' + ID).css(
      "display", "none"
  );
  $('#TagName' + ID).css(
      "display", "block"
  );
}
function CancelTag(ID) {
  $('#ModifyDelete' + ID).css(
      "display", "block"
  );
  $('#SaveCancel' + ID).css(
      "display", "none"
  );

  $('#TagDataName' + ID).css(
      "display", "block"
  );
  $('#TagName' + ID).css(
      "display", "none"
  );
}
function SaveTag(ID) {
  $.ajax({
      type: "PUT",
      url: window.location.href,
      data: {
          id: ID,
          name: $('#TagName' + ID).val()
      },
      success: function (data) {
          console.log("data: ", data);
          if (data.errCode == 0) {
            $('#TagDataName' + ID).text(values = data.data.name);
            CancelTag(ID)
          } else {
            CancelTag(ID)
            alert(data.errMsg)
          }
        },
      error: function (jqXHR, textStatus, errorThrown) {
          alert(jqXHR, textStatus, errorThrown);
      }
    });
}

function CreateTag() {
  console.log("start create")
  var name = $("#TagName").val()
  if (name == "") {
    alert("标签名称不能为空")
    return
  }
  $.ajax({
      type: "POST",
      url: window.location.href,
      data: {
          name: name
      },
      success: function (data) {
        console.log("data: ", data);
        if (data.errCode != 0) {
          alert(data.errMsg)
        } else {
          window.location.href = window.location.href
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
            alert(jqXHR, textStatus, errorThrown);
      }
  })
}
</script>
{{end}}
