{{define "header"}}
    <link rel="stylesheet" href="/static/libs/editormd/css/editormd.css"/>
    <style type="text/css">
        #cloudtag {position:relative; width:260px; height:260px; solid #000; margin: 20px auto 0;}
        #cloudtag a {position:absolute; top:0px; left:0px; color:#00FF00; font-weight:bold; text-decoration:none; padding: 3px 6px; }
        #cloudtag a:hover {border: 1px solid #eee; background: #000; }
    </style>
{{end}}

{{define "content"}}
    <div class="container transparent">
        <div class="row">
            <div class="col-lg-9">
                <div id="category" class="noselect">
                    <div id="category-title">
                        <ul>
                            <li>分类：</li>
                            {{ range .Cates }}
                                <li class="cat-item"><a
                                        href="/?cate={{ .ID }}">{{ .Name }}</a>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>

                <div id="bd" class="wrp clear-fix">
                    <div id="main">
                        {{ if .IsQuery }}
                          <h3 class="obvious-color">搜索结果</h3>
                        {{end}}
                        {{ if eq (len .Articles) 0 }}
                            <div class="post">
                                <p>抱歉，没有搜索到结果，请更换关键词重新搜索~</p>
                            </div>
                        {{ else }}
                          {{ range .Articles }}
                            <div class="post">
                                <div class="post-hd">
                                    <h1 class="title"><a
                                            href="/blog/article/{{ .ID }}">{{ .Title | UnEscaped }}</a></h1>
                                </div>
                                <div class="post-bd">
                                    <p>{{.Abstract }}</p>
                                    <p><a href="" class="more-link"></a></p>
                                </div>
                                <div class="post-ft">
                                    <a href="/blog/article/{{ .ID }}" class="more">阅读全文>></a>
                                    <i class="icon-date"></i>
                                    <span class="date">{{ .CreatedAt | FormatAsDate }}</span>
                                    <!--i class='icon-praise'></i>-->
                                    <input type='image' class='praise' src="/static/img/gb21.png" href="/blog/article/{{ .ID }}/praise">
                                    <span class='likes_num'>{{ .Likes}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/admin/article-edit?id={{ .ID }}">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span>阅读量:{{ .Views}}</span>
                                </div>
                            </div>
                          {{ end }}
                        {{ end }}
                        <div id="pagenavi" class="noselect">
                            {{ if gt .Paginator.CurrPage 1}}
                            <a class="previous-page pages" onclick="JumpIndexPage({{ Subint .Paginator.CurrPage 1 }})">
                                <span class="icon-previous"></span>上一页
                            </a>
                            {{ end }}

                            {{ if eq .Paginator.FirstPage .Paginator.CurrPage }}
                            <span class="first-page current">1</span>
                            {{ else }}
                            <a onclick="JumpIndexPage(1)" class="first-page">1</a>
                            {{ end }}

                            {{ if gt .Paginator.FirstLeftPage 2 }}
                            <span class="dots">...</span>
                            {{ end }}

                            {{ range $index, $page := .Paginator.Pages }}
                                {{ if eq $page $.Paginator.CurrPage }}
                                <span class="current">{{ $page }}</span>
                                {{ else }}
                                <a class="pages"  onclick="JumpIndexPage({{ $page }})">{{ $page }}</a>
                                {{ end }}
                            {{ end }}

                            {{ if lt .Paginator.LastRightPage .Paginator.LastPage }}
                            <span class="dots">...</span>
                            {{ end }}

                            {{ if ne .Paginator.LastPage 1 }}
                                {{ if eq .Paginator.LastPage .Paginator.CurrPage }}
                                <span class="current">{{ .Paginator.LastPage }}</span>
                                {{ else }}
                                <a class="pages" onclick="JumpIndexPage({{ .Paginator.LastPage }})">{{ .Paginator.LastPage }}</a>
                                {{ end }}
                            {{ end }}

                            {{ if lt .Paginator.CurrPage .Paginator.LastPage }}
                            <a class="next-page pages" onclick="JumpIndexPage({{ Addint .Paginator.CurrPage 1 }})">
                                下一页<span class="icon-next"></span>
                            </a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <!-- tags -->
                <h3 class="obvious-color">标签:</h3>
                <div  id="cloudtag">
                    {{ range .Tags }}
					<a href="/?tag={{ .ID }}">{{ .Name }}</a>
                    {{ end }}
                </div>

                <!-- archive -->
                <h3 class="obvious-color">时间线：</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{{/*                    {--- for year,months in date_archive }}*/}}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapse"
                                       aria-expanded="true" aria-controls="collapse">
{{/*                                        {--- year }} 年*/}}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="heading">
                                <div class="panel-body">
                                    {{ range .DateArchive }}
                                        <a href="/?time_by_month={{ .Months }}"><p>{{ .Months }}({{ .Number }})</p></a>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {--- end }}
                </div>
                <h3 class="obvious-color">热门文章：</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapse"
                                       aria-expanded="true" aria-controls="collapse">
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="heading">
                                <div class="panel-body">
                                    {{ range .HotArticle }}
                                        <a href="/blog/article/{{ .ID }}"><p>{{ .Title }}</p></a>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                </div>
                <h3 class="obvious-color">最新评论：</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapse"
                                       aria-expanded="true" aria-controls="collapse">
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="heading">
                                <div class="panel-body">
                                    {{ range .RecentComment }}
                                        <a href="/blog/article/{{ .ArticleId }}"><p>{{ .Body }}</p></a>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                </div>
                <h3 class="obvious-color">最近访问</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapse"
                                       aria-expanded="true" aria-controls="collapse"> 访问量:{{ .VisitorSum }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="heading">
                                <div class="panel-body">
                                    {{ range .Visitors }}
                                        <p>{{ .IP }}[{{ .City }}]  <sup>{{ .CreatedAt | FormatAsDate}}</sup></p>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}

{{define "footer"}}
    <script src="/static/js/jquery.windstagball.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#cloudtag").windstagball({
                radius:120,
                speed:10
            });
        });
    </script>
{{ end }}
